#dlChatbot .chatbotContainer {
  /* border-top-left-radius: 3px;
  border-top-right-radius: 3px; */
  background: #f5f8fb;
  /* border-radius: 10px; */
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  font-family: Serif;
  z-index: 999;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform .3s ease;
  -webkit-transition: transform .3s ease;
  transition: transform .3s ease;
  right: 0;
}

#dlChatbot #conversations {
  height: 45vh;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  margin: 8px 0 2px 5px;
  width: 98% !important;
  padding: 0 5px 0 0px;
}

#dlChatbot .form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#dlChatbot .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

#dlChatbot .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

#dlChatbot .form-control::-webkit-input-placeholder {
  color: #868e96;
  opacity: 1;
}

#dlChatbot .form-control:-ms-input-placeholder {
  color: #868e96;
  opacity: 1;
}

#dlChatbot .form-control::placeholder {
  color: #868e96;
  opacity: 1;
}

#dlChatbot .form-control:disabled,
#dlChatbot .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

#dlChatbot select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

#dlChatbot select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

#dlChatbot .form-control-file,
#dlChatbot .form-control-range {
  display: block;
}

#dlChatbot .form-control-plaintext {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0;
}

#dlChatbot .form-control-plaintext.form-control-lg,
#dlChatbot .form-control-plaintext.form-control-sm,
#dlChatbot .input-group-lg>.form-control-plaintext.form-control,
#dlChatbot .input-group-lg>.form-control-plaintext.input-group-addon,
#dlChatbot .input-group-lg>.input-group-btn>.form-control-plaintext.btn,
#dlChatbot .input-group-sm>.form-control-plaintext.form-control,
#dlChatbot .input-group-sm>.form-control-plaintext.input-group-addon,
#dlChatbot .input-group-sm>.input-group-btn>.form-control-plaintext.btn {
  padding-right: 0;
  padding-left: 0;
}

#dlChatbot .form-control-sm,
#dlChatbot .input-group-sm>.form-control,
#dlChatbot .input-group-sm>.input-group-addon,
#dlChatbot .input-group-sm>.input-group-btn>.btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

#dlChatbot .input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]),
#dlChatbot .input-group-sm>select.form-control:not([size]):not([multiple]),
#dlChatbot .input-group-sm>select.input-group-addon:not([size]):not([multiple]),
#dlChatbot select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

#dlChatbot .form-control-lg,
#dlChatbot .input-group-lg>.form-control,
#dlChatbot .input-group-lg>.input-group-addon,
#dlChatbot .input-group-lg>.input-group-btn>.btn {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

#dlChatbot .input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]),
#dlChatbot .input-group-lg>select.form-control:not([size]):not([multiple]),
#dlChatbot .input-group-lg>select.input-group-addon:not([size]):not([multiple]),
#dlChatbot select.form-control-lg:not([size]):not([multiple]) {
  height: calc(2.3125rem + 2px);
}

#dlChatbot .form-group {
  margin-bottom: 1rem;
}

#dlChatbot .form-text {
  display: block;
  margin-top: .25rem;
}

#dlChatbot .form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

#dlChatbot .form-row>.col,
#dlChatbot .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

#dlChatbot .form-check {
  position: relative;
  display: block;
  margin-bottom: .5rem;
}

#dlChatbot .form-check.disabled .form-check-label {
  color: #868e96;
}

#dlChatbot .form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
}

#dlChatbot .form-check-input {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;
}

#dlChatbot .form-check-input:only-child {
  position: static;
}

#dlChatbot .form-check-inline {
  display: inline-block;
}

#dlChatbot .form-check-inline .form-check-label {
  vertical-align: middle;
}

#dlChatbot .form-check-inline+.form-check-inline {
  margin-left: .75rem;
}

#dlChatbot .input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#dlChatbot .input-group .form-control {
  position: relative;
  z-index: 2;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

#dlChatbot .input-group .form-control:active,
#dlChatbot .input-group .form-control:focus,
#dlChatbot .input-group .form-control:hover {
  z-index: 3;
}

#dlChatbot .input-group .form-control,
#dlChatbot .input-group-addon,
#dlChatbot .input-group-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

#dlChatbot .input-group .form-control:not(:first-child):not(:last-child),
#dlChatbot .input-group-addon:not(:first-child):not(:last-child),
#dlChatbot .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

#dlChatbot .input-group-addon,
#dlChatbot .input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

#dlChatbot .input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

#dlChatbot .input-group-addon.form-control-sm,
#dlChatbot .input-group-sm>.input-group-addon,
#dlChatbot .input-group-sm>.input-group-btn>.input-group-addon.btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
}

#dlChatbot .input-group-addon.form-control-lg,
#dlChatbot .input-group-lg>.input-group-addon,
#dlChatbot .input-group-lg>.input-group-btn>.input-group-addon.btn {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

#dlChatbot .input-group-addon input[type=checkbox],
#dlChatbot .input-group-addon input[type=radio] {
  margin-top: 0;
}

#dlChatbot .input-group .form-control:not(:last-child),
#dlChatbot .input-group-addon:not(:last-child),
#dlChatbot .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
#dlChatbot .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
#dlChatbot .input-group-btn:not(:last-child)>.btn,
#dlChatbot .input-group-btn:not(:last-child)>.btn-group>.btn,
#dlChatbot .input-group-btn:not(:last-child)>.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#dlChatbot .input-group-addon:not(:last-child) {
  border-right: 0;
}

#dlChatbot .input-group .form-control:not(:first-child),
#dlChatbot .input-group-addon:not(:first-child),
#dlChatbot .input-group-btn:not(:first-child)>.btn,
#dlChatbot .input-group-btn:not(:first-child)>.btn-group>.btn,
#dlChatbot .input-group-btn:not(:first-child)>.dropdown-toggle,
#dlChatbot .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
#dlChatbot .input-group-btn:not(:last-child)>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .form-control+.input-group-addon:not(:first-child) {
  border-left: 0;
}

#dlChatbot .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

#dlChatbot .input-group-btn>.btn {
  position: relative;
}

#dlChatbot .input-group-btn>.btn+.btn {
  margin-left: -1px;
}

#dlChatbot .input-group-btn>.btn:active,
#dlChatbot .input-group-btn>.btn:focus,
#dlChatbot .input-group-btn>.btn:hover {
  z-index: 3;
}

#dlChatbot .input-group-btn:not(:last-child)>.btn,
#dlChatbot .input-group-btn:not(:last-child)>.btn-group {
  margin-right: -1px;
}

#dlChatbot .input-group-btn:not(:first-child)>.btn,
#dlChatbot .input-group-btn:not(:first-child)>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

#dlChatbot .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

#dlChatbot .btn:focus,
#dlChatbot .btn:hover {
  text-decoration: none;
}

#dlChatbot .btn.focus,
#dlChatbot .btn:focus {
  outline: 0;
}

#dlChatbot .btn.disabled,
#dlChatbot .btn:disabled {
  opacity: .65;
}

#dlChatbot .btn.active,
#dlChatbot .btn:active {
  background-image: none;
}

#dlChatbot a.btn.disabled,
#dlChatbot fieldset[disabled] a.btn {
  pointer-events: none;
}

#dlChatbot .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#dlChatbot .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#dlChatbot .btn-primary.focus,
#dlChatbot .btn-primary:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

#dlChatbot .btn-primary.disabled,
#dlChatbot .btn-primary:disabled {
  background-color: #007bff;
  border-color: #007bff;
}

#dlChatbot .btn-primary.active,
#dlChatbot .btn-primary:active,
#dlChatbot .show>.btn-primary.dropdown-toggle {
  background-color: #0069d9;
  background-image: none;
  border-color: #0062cc;
}

#dlChatbot .btn-secondary {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

#dlChatbot .btn-secondary:hover {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

#dlChatbot .btn-secondary.focus,
#dlChatbot .btn-secondary:focus {
  box-shadow: 0 0 0 3px rgba(134, 142, 150, .5);
}

#dlChatbot .btn-secondary.disabled,
#dlChatbot .btn-secondary:disabled {
  background-color: #868e96;
  border-color: #868e96;
}

#dlChatbot .btn-secondary.active,
#dlChatbot .btn-secondary:active,
#dlChatbot .show>.btn-secondary.dropdown-toggle {
  background-color: #727b84;
  background-image: none;
  border-color: #6c757d;
}

#dlChatbot .btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

#dlChatbot .btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

#dlChatbot .btn-success.focus,
#dlChatbot .btn-success:focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, .5);
}

#dlChatbot .btn-success.disabled,
#dlChatbot .btn-success:disabled {
  background-color: #28a745;
  border-color: #28a745;
}

#dlChatbot .btn-success.active,
#dlChatbot .btn-success:active,
#dlChatbot .show>.btn-success.dropdown-toggle {
  background-color: #218838;
  background-image: none;
  border-color: #1e7e34;
}

#dlChatbot .btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#dlChatbot .btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

#dlChatbot .btn-info.focus,
#dlChatbot .btn-info:focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, .5);
}

#dlChatbot .btn-info.disabled,
#dlChatbot .btn-info:disabled {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#dlChatbot .btn-info.active,
#dlChatbot .btn-info:active,
#dlChatbot .show>.btn-info.dropdown-toggle {
  background-color: #138496;
  background-image: none;
  border-color: #117a8b;
}

#dlChatbot .btn-warning {
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
}

#dlChatbot .btn-warning:hover {
  color: #111;
  background-color: #e0a800;
  border-color: #d39e00;
}

#dlChatbot .btn-warning.focus,
#dlChatbot .btn-warning:focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, .5);
}

#dlChatbot .btn-warning.disabled,
#dlChatbot .btn-warning:disabled {
  background-color: #ffc107;
  border-color: #ffc107;
}

#dlChatbot .btn-warning.active,
#dlChatbot .btn-warning:active,
#dlChatbot .show>.btn-warning.dropdown-toggle {
  background-color: #e0a800;
  background-image: none;
  border-color: #d39e00;
}

#dlChatbot .btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

#dlChatbot .btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

#dlChatbot .btn-danger.focus,
#dlChatbot .btn-danger:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, .5);
}

#dlChatbot .btn-danger.disabled,
#dlChatbot .btn-danger:disabled {
  background-color: #dc3545;
  border-color: #dc3545;
}

#dlChatbot .btn-danger.active,
#dlChatbot .btn-danger:active,
#dlChatbot .show>.btn-danger.dropdown-toggle {
  background-color: #c82333;
  background-image: none;
  border-color: #bd2130;
}

#dlChatbot .btn-light {
  color: #111;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#dlChatbot .btn-light:hover {
  color: #111;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

#dlChatbot .btn-light.focus,
#dlChatbot .btn-light:focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, .5);
}

#dlChatbot .btn-light.disabled,
#dlChatbot .btn-light:disabled {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#dlChatbot .btn-light.active,
#dlChatbot .btn-light:active,
#dlChatbot .show>.btn-light.dropdown-toggle {
  background-color: #e2e6ea;
  background-image: none;
  border-color: #dae0e5;
}

#dlChatbot .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#dlChatbot .btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

#dlChatbot .btn-dark.focus,
#dlChatbot .btn-dark:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, .5);
}

#dlChatbot .btn-dark.disabled,
#dlChatbot .btn-dark:disabled {
  background-color: #343a40;
  border-color: #343a40;
}

#dlChatbot .btn-dark.active,
#dlChatbot .btn-dark:active,
#dlChatbot .show>.btn-dark.dropdown-toggle {
  background-color: #23272b;
  background-image: none;
  border-color: #1d2124;
}

#dlChatbot .btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

#dlChatbot .btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#dlChatbot .btn-outline-primary.focus,
#dlChatbot .btn-outline-primary:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

#dlChatbot .btn-outline-primary.disabled,
#dlChatbot .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

#dlChatbot .btn-outline-primary.active,
#dlChatbot .btn-outline-primary:active,
#dlChatbot .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#dlChatbot .btn-outline-secondary {
  color: #868e96;
  background-color: transparent;
  background-image: none;
  border-color: #868e96;
  border-radius: 50%;
  padding: 12px;
  margin: 15px 10px;
}

#dlChatbot .btn-outline-secondary:hover {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

#dlChatbot .btn-outline-secondary.focus,
#dlChatbot .btn-outline-secondary:focus {
  box-shadow: none;
}

#dlChatbot .btn-outline-secondary.disabled,
#dlChatbot .btn-outline-secondary:disabled {
  color: #868e96;
  background-color: transparent;
}

#dlChatbot .btn-outline-secondary.active,
#dlChatbot .btn-outline-secondary:active,
#dlChatbot .show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
}

#dlChatbot .btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

#dlChatbot .btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

#dlChatbot .btn-outline-success.focus,
#dlChatbot .btn-outline-success:focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, .5);
}

#dlChatbot .btn-outline-success.disabled,
#dlChatbot .btn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

#dlChatbot .btn-outline-success.active,
#dlChatbot .btn-outline-success:active,
#dlChatbot .show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

#dlChatbot .btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

#dlChatbot .btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#dlChatbot .btn-outline-info.focus,
#dlChatbot .btn-outline-info:focus {
  box-shadow: 0 0 0 3px rgba(23, 162, 184, .5);
}

#dlChatbot .btn-outline-info.disabled,
#dlChatbot .btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

#dlChatbot .btn-outline-info.active,
#dlChatbot .btn-outline-info:active,
#dlChatbot .show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#dlChatbot .btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

#dlChatbot .btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

#dlChatbot .btn-outline-warning.focus,
#dlChatbot .btn-outline-warning:focus {
  box-shadow: 0 0 0 3px rgba(255, 193, 7, .5);
}

#dlChatbot .btn-outline-warning.disabled,
#dlChatbot .btn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

#dlChatbot .btn-outline-warning.active,
#dlChatbot .btn-outline-warning:active,
#dlChatbot .show>.btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

#dlChatbot .btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

#dlChatbot .btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

#dlChatbot .btn-outline-danger.focus,
#dlChatbot .btn-outline-danger:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, .5);
}

#dlChatbot .btn-outline-danger.disabled,
#dlChatbot .btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

#dlChatbot .btn-outline-danger.active,
#dlChatbot .btn-outline-danger:active,
#dlChatbot .show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

#dlChatbot .btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

#dlChatbot .btn-outline-light:hover {
  color: #fff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#dlChatbot .btn-outline-light.focus,
#dlChatbot .btn-outline-light:focus {
  box-shadow: 0 0 0 3px rgba(248, 249, 250, .5);
}

#dlChatbot .btn-outline-light.disabled,
#dlChatbot .btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

#dlChatbot .btn-outline-light.active,
#dlChatbot .btn-outline-light:active,
#dlChatbot .show>.btn-outline-light.dropdown-toggle {
  color: #fff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#dlChatbot .btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

#dlChatbot .btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#dlChatbot .btn-outline-dark.focus,
#dlChatbot .btn-outline-dark:focus {
  box-shadow: 0 0 0 3px rgba(52, 58, 64, .5);
}

#dlChatbot .btn-outline-dark.disabled,
#dlChatbot .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

#dlChatbot .btn-outline-dark.active,
#dlChatbot .btn-outline-dark:active,
#dlChatbot .show>.btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#dlChatbot .btn-link {
  font-weight: 400;
  color: #007bff;
  border-radius: 0;
}

#dlChatbot .btn-link,
#dlChatbot .btn-link.active,
#dlChatbot .btn-link:active,
#dlChatbot .btn-link:disabled {
  background-color: transparent;
}

#dlChatbot .btn-link,
#dlChatbot .btn-link:active,
#dlChatbot .btn-link:focus {
  border-color: transparent;
  box-shadow: none;
}

#dlChatbot .btn-link:hover {
  border-color: transparent;
}

#dlChatbot .btn-link:focus,
#dlChatbot .btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
}

#dlChatbot .btn-link:disabled {
  color: #868e96;
}

#dlChatbot .btn-link:disabled:focus,
#dlChatbot .btn-link:disabled:hover {
  text-decoration: none;
}

#dlChatbot .btn-group-lg>.btn,
#dlChatbot .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

#dlChatbot .btn-group-sm>.btn,
#dlChatbot .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

#dlChatbot .btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: .5rem;
}

#dlChatbot input[type=button].btn-block,
#dlChatbot input[type=reset].btn-block,
#dlChatbot input[type=submit].btn-block {
  width: 100%;
}

#dlChatbot .fade {
  opacity: 0;
  transition: opacity .15s linear;
}

#dlChatbot .fade.show {
  opacity: 1;
}

#dlChatbot .collapse {
  display: none;
}

#dlChatbot .collapse.show {
  display: block;
}

#dlChatbot tr.collapse.show {
  display: table-row;
}

#dlChatbot tbody.collapse.show {
  display: table-row-group;
}

#dlChatbot .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

#dlChatbot .dropdown,
#dlChatbot .dropup {
  position: relative;
}

#dlChatbot .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

#dlChatbot .dropdown-toggle:empty::after {
  margin-left: 0;
}

#dlChatbot .dropup .dropdown-menu {
  margin-top: 0;
  margin-bottom: .125rem;
}

#dlChatbot .dropup .dropdown-toggle::after {
  border-top: 0;
  border-bottom: .3em solid;
}

#dlChatbot .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

#dlChatbot .dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

#dlChatbot .dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

#dlChatbot .dropdown-item:focus,
#dlChatbot .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

#dlChatbot .dropdown-item.active,
#dlChatbot .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

#dlChatbot .dropdown-item.disabled,
#dlChatbot .dropdown-item:disabled {
  color: #868e96;
  background-color: transparent;
}

#dlChatbot .show>a {
  outline: 0;
}

#dlChatbot .dropdown-menu.show {
  display: block;
}

#dlChatbot .dropdown-header {
  display: block;
  padding: .5rem 1.5rem;
  margin-bottom: 0;
  font-size: .875rem;
  color: #868e96;
  white-space: nowrap;
}

#dlChatbot .btn-group,
#dlChatbot .btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

#dlChatbot .btn-group-vertical>.btn,
#dlChatbot .btn-group>.btn {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: 0;
}

#dlChatbot .btn-group-vertical>.btn:hover,
#dlChatbot .btn-group>.btn:hover {
  z-index: 2;
}

#dlChatbot .btn-group-vertical>.btn.active,
#dlChatbot .btn-group-vertical>.btn:active,
#dlChatbot .btn-group-vertical>.btn:focus,
#dlChatbot .btn-group>.btn.active,
#dlChatbot .btn-group>.btn:active,
#dlChatbot .btn-group>.btn:focus {
  z-index: 2;
}

#dlChatbot .btn-group .btn+.btn,
#dlChatbot .btn-group .btn+.btn-group,
#dlChatbot .btn-group .btn-group+.btn,
#dlChatbot .btn-group .btn-group+.btn-group,
#dlChatbot .btn-group-vertical .btn+.btn,
#dlChatbot .btn-group-vertical .btn+.btn-group,
#dlChatbot .btn-group-vertical .btn-group+.btn,
#dlChatbot .btn-group-vertical .btn-group+.btn-group {
  margin-left: -1px;
}

#dlChatbot .btn-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#dlChatbot .btn-toolbar .input-group {
  width: auto;
}

#dlChatbot .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

#dlChatbot .btn-group>.btn:first-child {
  margin-left: 0;
}

#dlChatbot .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#dlChatbot .btn-group>.btn:last-child:not(:first-child),
#dlChatbot .btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .btn-group>.btn-group {
  float: left;
}

#dlChatbot .btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
  border-radius: 0;
}

#dlChatbot .btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,
#dlChatbot .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#dlChatbot .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .btn+.dropdown-toggle-split {
  padding-right: .5625rem;
  padding-left: .5625rem;
}

#dlChatbot .btn+.dropdown-toggle-split::after {
  margin-left: 0;
}

#dlChatbot .btn-group-sm>.btn+.dropdown-toggle-split,
#dlChatbot .btn-sm+.dropdown-toggle-split {
  padding-right: .375rem;
  padding-left: .375rem;
}

#dlChatbot .btn-group-lg>.btn+.dropdown-toggle-split,
#dlChatbot .btn-lg+.dropdown-toggle-split {
  padding-right: .75rem;
  padding-left: .75rem;
}

#dlChatbot .btn-group-vertical {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
}

#dlChatbot .btn-group-vertical .btn,
#dlChatbot .btn-group-vertical .btn-group {
  width: 100%;
}

#dlChatbot .btn-group-vertical>.btn+.btn,
#dlChatbot .btn-group-vertical>.btn+.btn-group,
#dlChatbot .btn-group-vertical>.btn-group+.btn,
#dlChatbot .btn-group-vertical>.btn-group+.btn-group {
  margin-top: -1px;
  margin-left: 0;
}

#dlChatbot .btn-group-vertical>.btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

#dlChatbot .btn-group-vertical>.btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .btn-group-vertical>.btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#dlChatbot .btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
  border-radius: 0;
}

#dlChatbot .btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,
#dlChatbot .btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#dlChatbot label {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
}

#dlChatbot [data-toggle=buttons]>.btn input[type=checkbox],
#dlChatbot [data-toggle=buttons]>.btn input[type=radio],
#dlChatbot [data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
#dlChatbot [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

#dlChatbot .input-group-btn:not(:first-child)>.btn-group:active,
#dlChatbot .input-group-btn:not(:first-child)>.btn-group:focus,
#dlChatbot .input-group-btn:not(:first-child)>.btn-group:hover,
#dlChatbot .input-group-btn:not(:first-child)>.btn:active,
#dlChatbot .input-group-btn:not(:first-child)>.btn:focus,
#dlChatbot .input-group-btn:not(:first-child)>.btn:hover {
  z-index: 3;
}

#dlChatbot ul.navbar-brand {
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#dlChatbot .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#dlChatbot .form-signin .form-signin-heading,
#dlChatbot .form-signin .checkbox {
  margin-bottom: 10px;
}

#dlChatbot .form-signin .checkbox {
  font-weight: normal;
}

#dlChatbot .form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

#dlChatbot .form-signin .form-control:focus {
  z-index: 2;
}

#dlChatbot .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#dlChatbot .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#dlChatbot ul.ChatLog {
  list-style: none;
}

#dlChatbot .ChatLog {
  max-width: 100%;
  margin: 0 auto;
}

#dlChatbot .ChatLog .ChatLog__entry {
  margin: .5em;
}

#dlChatbot .ChatLog__entry {
  font-family: 'Open Sans';
  font-size: 14px;
  padding: 0 !important;
  text-align: left !important;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  max-width: 100%;
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
  padding-right: 0px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#dlChatbot .ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 0 0 0 #d7d7d7;
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine .ChatLog__avatar {
  display: block;
}

#dlChatbot .ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 3px 10px 3px 3px !important;
  padding: 1rem 1.5rem;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans';
  word-break: break-word !important;
  word-wrap: break-word !important;
  white-space: normal !important;
}

#dlChatbot .ChatLog__entry .ChatLog__message::before {
  position: absolute;
  left: 10px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: rgb(0, 147, 207);
  margin-left: -22px !important;
  z-index: 2;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #cecdd0;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#dlChatbot .ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 100%;
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  background-color: #08f;
  color: #fff;
  font-size: 12px;
  word-wrap: break-word;
  max-width: 265px;
}

#dlChatbot .ChatLog__message .ChatLog__timestamp {
  font-size: 10px;
  float: right;
  bottom: 0;
  right: 0;
  width: 100%;
  display: table;
  text-align: right;
  position: relative;
  margin: 0px -12px -10px 0;
}

#dlChatbot .chatbot {
  position: absolute;
  right: 1rem;
  height: auto;
  bottom: 0;
  font-family: 'Open Sans'!important;
  z-index: 1000;
  margin-bottom: 30px;
}

.sticky {
  position: fixed!important;
}

#dlChatbot .chatbotHeader {
  background-color: #17a2b8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 45px;
}

#dlChatbot div#compose-message {
  padding: 10px;
  line-height: 0;
  background: #fff;
  border-radius: inherit;
}

#dlChatbot .pulse {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
  font-size: 20px;
}

#dlChatbot .pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);;
}
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);;
}
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);;
}
  ;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 #17a2b899;;
}
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);;
}
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);;
}
  ;
}

#dlChatbot span.close.fa.fa-times:hover {
  color: #fff;
  background: transparent;
  cursor: pointer;
}

#dlChatbot input#new-input-message {
  border: 1px solid #868e96;
  border-right: 0px;
}

#dlChatbot button.btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btnSendInput {
  max-width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  margin: 10px 10px 0px 0px;
  font-family: 'Open Sans';
  font-size: 12px;
  width: auto;
  clear: both;
}
#dlChatbot button.btn.btn-primary.btn-sm.chatButton.normal-button,
#dlChatbot .btn.btn-primary.btn-sm.chatButton.normal-button {
  float: left;
}

#dlChatbot div.chatbotHeader {
  padding: 0.8rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
}

#dlChatbot .mic-active {
  background-color: #868e96;
}

#dlChatbot button[value="Yes"],
#dlChatbot button[value="No"],
#dlChatbot button[value="1"],
#dlChatbot button[value="2"],
#dlChatbot button[value="3"],
#dlChatbot button[value="4"],
#dlChatbot button[value="5"] {
  clear: none!important;
}

#toggleChatBot.launchChat {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  bottom: 45px;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 32px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  -webkit-transition: transform .3s ease;
  transition: transform .3s ease;
  width: 56px;
  z-index: 999;
}

#toggleChatBot i.fa.fa-comment {
  font-size: 26px;
  color: #fff;
}

#dlChatbot .fa-remove:before,
#dlChatbot .fa-close:before,
#dlChatbot .fa-times:before {
  content: "\00d7";
}

#dlChatbot textarea#new-input-message {
  resize: none;
  font-family: 'Open Sans';
  font-size: 12px;
}

#dlChatbot .chatbot-is-dropdown {
  top: 0;
  left: 0;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0px !important;
  position: relative!important;
}

#toggleChatBot.hide-launcher {
  visibility: hidden;
}

#dlChatbot span.fa.fa-window-minimize {
  float: right;
  margin-right: 10px;
  margin-left: -10px;
  color: #fff;
  cursor: pointer;
}

#dlChatbot span.fa.fa-question-circle,
#dlChatbot span.fa.fa-question-circle:hover {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

#dlChatbot .showDiv {
  display: block;
}

#dlChatbot .hideDiv {
  display: none;
}

#dlChatbot .typing-indicator {
  background-color: #dddddd;
  will-change: transform;
  width: auto;
  min-width: 100.5px;
  border-radius: 5px;
  padding: 10.5px;
  display: table;
  margin: 20px 15px 20px 6px;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
  animation: 2s bulge infinite ease-out;
}

#dlChatbot .typing-indicator span {
  height: 10.5px;
  width: 10.5px;
  float: left;
  margin: 1.4px 2.1px;
  background-color: #495057;
  display: block;
  border-radius: 50%;
  opacity: 0.5;
}

#dlChatbot .typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
  animation: 1s blink infinite 0.3333s;
}

#dlChatbot .typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
  animation: 1s blink infinite 0.6666s;
}

#dlChatbot .typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
  animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;;
}
  ;
}

@keyframes blink {
  50% {
    opacity: 1;;
}
  ;
}

@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);;
}
  ;
}

@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);;
}
  ;
}

#dlChatbot .typing-indicator::before {
  position: absolute;
  left: -12px;
  content: '';
  border: 6px solid transparent;
  border-right-color: rgb(0, 147, 207);
  z-index: 2;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#dlChatbot .typing-indicator i {
  font-size: 15px;
  margin: 10px;
}

#dlChatbot span.close {
  font-size: 34px;
  color: rgb(111, 80, 145) !important;
  cursor: pointer;
  opacity: 1 !important;
}

.dropdown {
  position: inherit !important;
}

.dropdown .dlChatbotDropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dlChatbotDropbtn,
.dlChatbotDropbtn:focus {
  background-color: #faa21c;
}

#mydlChatbotDropdown {
  visibility: hidden;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

#mydlChatbotDropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#mydlChatbotDropdown a:hover {
  background-color: #ddd;
}

#mydlChatbotDropdown a {
  color: rgb(0, 0, 238) !important;
  display: inline !important;
  padding: 0 !important;
  background-color: transparent !important;
}

#mydlChatbotDropdown.show {
  visibility: visible;
}

#dlChatbot .toggle_bot_message label {
  border-radius: 12px 12px 0 0;
  width: auto;
  text-align: center;
  cursor: pointer;
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  max-height: 100% !important;
  margin: 3px 8px 3px 40px !important;
}

#dlChatbot .hide_element {
  display: none !important;
}

#dlChatbot .fa-refresh {
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
}

#dlChatbot .flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#dlChatbot .flex-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

#dlChatbot .ChatLog__message .toggle_bot_message {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #ddd;
  padding-top: 10px;
  display: none;
}

#dlChatbot .flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#dlChatbot .flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
}

#dlChatbot .flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

#dlChatbot .fa-refresh:before {
  content: "\f021";
}

#dlChatbot .normal-bot {
  position: inherit !important;
  width: auto;
  height: 100%;
  margin: 0;
}

#dlChatbot .input-footer-message {
  margin: 0 !important;
  font-style: italic;
  font-weight: 700;
  color: #000 !important;
}

#dlChatbot div#btnToggle {
  background-image: url(../images/ASR_TTS.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}

#dlChatbot div#btnToggle.recording {
  background-image: url(../images/ASR_TTS_REC.png) !important;
  background-color: transparent !important;
}

#dlChatbot .tooltip-ASR {
  position: relative;
  display: inline-block;
}

#dlChatbot #compose-message label {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000;
  font-weight: 500;
}

#dlChatbot .tooltip-ASR .tooltiptext {
  visibility: hidden;
  width: 129px;
  background-color: #006cb6;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 12px 0;
  position: absolute;
  z-index: 9999;
  bottom: 119%;
  left: 50%;
  margin-left: -70px;
  font-size: 14px;
}

#dlChatbot .tooltip-ASR .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #006cb6 transparent transparent transparent;
}

#dlChatbot .tooltip-ASR:hover .tooltiptext {
  visibility: visible;
}

#dlChatbot .normal-bot .chatbotContainer #conversations {
  height: inherit !important;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 10px 5px 0 0px;
  width: calc(100% - 20px);
  margin: 0 0 0 20px;
}

#dlChatbot .normal-bot .chatbotContainer {
  overflow: auto;
}

#dlChatbot .normal-bot #compose-message {
  background: none !important;
  padding: 15px 0 0 0;
  line-height: normal !important;
}

#dlChatbot .is-IE .message-window #new-input-message {
  width: 100% !important;
}

#dlChatbot .normal-bot .chatbotContainer #conversations .chat-log .ChatLog__entry_mine .ChatLog__message,
#dlChatbot .normal-bot .chatbotContainer #conversations .chat-log .ChatLog__entry .ChatLog__message {
  margin: 10px 10px 10px 6px !important;
}

#dlChatbot .normal-bot .chatbotContainer #conversations .chat-log .ChatLog__entry_mine .ChatLog__message {
  max-width: 100% !important;
}

#dlChatbot .normal-bot #compose-message .input-footer-message {
  margin: 0px 0 0 0 !important;
}

#dlChatbot .normal-bot #compose-message label {
  padding: 0 !important;
  display: block !important;
  margin-bottom: -12px !important;
}

#dlChatbot .normal-bot .chatbotContainer #conversations .chat-log .ChatLog__entry .typing-indicator {
  margin: 10px 15px 10px 6px !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #dlChatbot .hide-class {
    display: none !important;;
}
  #dlChatbot .new-input-message_ipad {
    width: 100% !important;;
}
  #dlChatbot .chat_ipad {
    max-height: 100% !important;;
}
  ;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (orientation: portrait) {
  #dlChatbot .chatbot {
    right: 0!important;
    padding: 10px!important;
}
  #dlChatbot span.close.fa.fa-times {
    font-size: 35px;;
}
  ;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (orientation: landscape) {
  #dlChatbot .chatbot {
    right: 0!important;
    padding: 10px!important;
    zoom: 80%!important;;
}
  #dlChatbot span.close.fa.fa-times {
    font-size: 35px;;
}
  ;
}

#dlChatbot .btn-primary {
  border: none !important;
  cursor: pointer !important;
}

#dlChatbot .loader {
  margin: 0 !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

#dlChatbot #conversations.mCustomScrollbar {
  padding: 0 0px 0 0px !important;
}

#dlChatbot .mCSB_inside>.mCSB_container {
  margin-right: 10px !important;
}

#dlChatbot .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgb(111, 80, 145) !important;
}

#mydlChatbotDropdown .chatButton {
  display: none;
}

#mydlChatbotDropdown.show .chatButton {
  display: block;
}

#dlChatbot .number,
#dlChatbot .capital-alpha {
  width: 20px;
  height: 20px;
  border: none;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  outline: none;
  background: transparent;
  font-size: 16px;
  TEXT-ALIGN: center;
  COLOR: #fff;
  padding: 0px;
  margin: 0 5px;
}

#dlChatbot .input-container {
  background-color: #006cb6;
  width: auto;
  padding: 5px 10px !important;
  height: 30px;
  border-radius: 2px;
  border: 1px solid#006cb6;
  top: 10px;
  margin-top: 3px;
}

#dlChatbot .custom-input,
#dlChatbot .custom-input label,
#dlChatbot .location-labels label,
#dlChatbot .location-labels {
  padding: 0;
}

#dlChatbot a.btn.btn-primary.btn-sm.chatButton {
  width: auto !important;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dlChatbot .loc-dist {
  margin-left: 5px !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
  margin: auto;
}

#dlChatbot .loc-dist.hide_element {
  display: none !important;
}

#dlChatbot .main-video-el,
#dlChatbot .main-image-el {
  width: 100% !important;
  cursor: pointer;
  height: 35vh;
  margin-top: .8rem;
}

#dlChatbot .main-video-el:focus,
#dlChatbot .main-image-el:focus {
  outline: none;
}

.dlChatbot-close-full-screen {
  cursor: pointer;
  font-weight: 600;
}

.dlChatbot-full-screen {
  object-fit: contain !important;;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
  z-index: 9999 !important;
  background: rgba(0, 0, 0, 0.7) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 3em 5em !important;
  color: #fff;
  text-align: right;
}

.dlChatbot-full-screen .full-screened {
  height: 100% !important;
}

/* Chrome, Safari and Opera syntax */

:-webkit-full-screen,
:-webkit-full-screen::backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 3em !important;
}

/* Firefox syntax */

:-moz-full-screen,
:-moz-full-screen::backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 3em !important;
}

/* IE/Edge syntax */

:-ms-fullscreen,
:-ms-fullscreen::backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 3em !important;
}

/* Standard syntax */

:fullscreen,
:fullscreen::backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 3em !important;
}

#dlChatbot .wickedpicker {
  width: 45% !important;
  height: auto !important;
}

#dlChatbot #ui-datepicker-div,
#dlChatbot .wickedpicker {
  z-index: 9999 !important;
}

#dlChatbot .timePickerMain,
#dlChatbot .datePickerMain {
  color: #000;
  margin: 5px 5px 5px 0;
  padding: 0 !important;
}

#dlChatbot .timePickerMain input,
#dlChatbot .datePickerMain input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #939ba3;
  outline: 0;
  margin: 5px;
}

#dlChatbot .flex-justify-left {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

#dlChatbot .chatbotHeader span {
  cursor: pointer;
}

#dlChatbot.maximizeActive #chat {
  height: auto !important;
}

#dlChatbot.maximizeActive .chatbot {
  margin-bottom: 0;
  height: auto !important;
}

#dlChatbot.maximizeActive .chatbotContainer .conversations-parent,
#dlChatbot.maximizeActive div#compose-message {
  display: none !important;
}

#dlChatbot.maximizeActive .chatbotContainer#chat {
  height: auto !important;
  top: inherit !important;
}

#dlChatbot .ChatLog__entry:not(:last-child) .chatButton,
#dlChatbot .btnSendInput:not(:last-child),
#dlChatbot .ChatLog__entry:not(:last-child) .more_buttons,
#dlChatbot .ChatLog__entry:not(:last-child) .dropdown-multiple-label,
#dlChatbot .ChatLog__entry:not(:last-child) .btndrpdwn {
  pointer-events: none;
  opacity: 0.65;
  cursor: not-allowed !important;
}

#dlChatbot div#mCSB_1_container {
  width: auto !important;
}

#dlChatbot .chatbot.sticky {
  position: fixed !important;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  #dlChatbot .flex-child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
