/* Bot Specific code */
#dlChatbot ul {
    margin: 0;
    padding: 0;
}

#dlChatbot {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    position: inherit !important;
    height: inherit !important;
}

#dlChatbot img {
    -ms-interpolation-mode: bicubic;
}

.flex-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.flex-middle,
#dlChatbot #compose-message .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-middle {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.custom-bot-parent {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.custom-bot-header {
    background: #fff;
    color: #0092ca;
    padding: 10px 50px 18px 50px;
    font-size: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: arial , helvetica !important;
    font-weight: 700 !important;
}

.custom-bot {
    height: 100%;
}

#dlChatbot .chatbot.sticky {
    /*position: inherit !important;*/
    height: inherit !important;
    
}

#dlChatbot .ChatLog__entry_mine::before,
#dlChatbot .pulse,
#dlChatbot .close {
    display: none !important;
}

#dlChatbot .typing-indicator span {
    background: #d7dad2 !important;
}

#dlChatbot .ChatLog__avatar,
#toggleChatBot img {
    border-radius: 0% !important;
    border: 1px solid transparent !important;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
    margin: 0 !important;
    height: 40px !important;
    width: 40px !important;
}

#dlChatbot .chatButton,
#dlChatbot .ChatLog__message,
#dlChatbot #compose-message,
#dlChatbot .ChatLog__message .toggle_bot_message,
#dlChatbot .btnSendInput,
#dlChatbot .toggle_bot_message label,
#dlChatbot .chatbotHeader label {
    font-family: arial , helvetica !important;
    font-weight: 500 !important;
}

#dlChatbot .btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btnSendInput {
    margin: 3px 2px 3px 2px !important;
    border-radius: 6px !important;
    min-width: auto !important;
    border: 1px solid rgb(200, 240, 250);
    padding: 2px 10px;
}

#dlChatbot .toggle_bot_message label {
    border: 1px solid rgb(0, 147, 207) ;
    border-bottom: 0px !important;
}

#dlChatbot .btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btnSendInput,
#dlChatbot .toggle_bot_message label {
    background-color: rgb(200, 240, 250) ;
    color: #000 ;
}

#dlChatbot .ChatLog__entry .ChatLog__message {
    padding: 0.5em 0.7em !important;
    max-width: 78% !important;
}

#dlChatbot .typing-indicator {
    margin: 3px 15px 3px 6px !important;
}

#dlChatbot .loader {
    margin: 0 !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

#dlChatbot div#mCSB_1_container {
    width: auto !important;
    /* height: 100% !important; */
}


/* #dlChatbot ul.chat-log {
  height: auto !important;
} */

#dlChatbot .btn.btn-primary.btn-sm.chatButton:focus,
#dlChatbot .btnSendInput:focus,
#dlChatbot .toggle_bot_message label:focus,
#dlChatbot .btn.btn-primary.btn-sm.chatButton:hover,
#dlChatbot .btnSendInput:hover,
#dlChatbot .toggle_bot_message label:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #86bc25 !important;
    /*MIJ*/
    color: #fff !important;
    border: 1px solid #86bc25 !important;
}

#dlChatbot .chatbotContainer {
    -webkit-box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey !important;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey !important;
}

#dlChatbot #conversations {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    width: 98% !important;
    margin: 8px 0 2px 5px;
}

#dlChatbot .ChatLog__message .ChatLog__timestamp {
    margin: 0px -12px -10px 20px !important;
    display: none !important;
}

#dlChatbot .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000 !important;
}

#dlChatbot .fa:before,
#dlChatbot .close:before,
#toggleChatBot .fa:before,
#dlChatbot #minimizeableEl:before,
#dlChatbot span#closeRestartIcon:before,
#dlChatbot .chatbotHeader span {
    content: "" !important;
    height: 20px;
    display: inline-block;
    max-width: 20px;
    width: 100% !important;
    margin-top: 4px
}

#dlChatbot .chatbotHeader span img {
    height: inherit;
    width: inherit;
}

#dlChatbot .chatbotHeader span {
    height: auto !important;
    max-width: 21px;
    width: 100% !important;
    margin: -2px 2px 0px 8px !important;
    font-size: inherit !important;
    color: #fff !important;
    display: none;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    #dlChatbot .chatbotHeader span {
        height: auto !important;
        max-width: 32px;
        width: 100% !important;
        margin: -7px 2px 0 2px !important;
        font-size: inherit !important;
        color: #fff !important;
    }
    #dlChatbot .chatbotHeader {
        padding-bottom: 1.8rem !important;
    }
    #dlChatbot .flex-child {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

#dlChatbot span.fa-question-circle,
#dlChatbot.maximizeActive span#enlargeIcon {
    display: none;
}

#dlChatbot .fa-question-circle:before {
    background: url("images/help.png") !important;
    background-size: cover !important;
}

#dlChatbot .fa-refresh:before {
    background: url("images/right_menu_bar_arrows.png") !important;
    background-size: cover !important;
}

#dlChatbot .close:before {
    background: url("images/Close_Colour.png") !important;
    background-size: cover !important;
}

#dlChatbot #minimizeableEl:before {
    background: url("images/Dock_Colour.png") !important;
    background-size: cover !important;
}

#dlChatbot #closeRestartIcon:before {
    background: url("images/right_menu_bar_x.png") !important;
    background-size: cover !important;
}

#dlChatbot .ChatLog__message .toggle_bot_message.more_buttons {
    margin-bottom: -0.5em !important;
    position: inherit !important;
}

#dlChatbot #new-input-message {
    background-color: #fff !important;
    color: #000 !important;
    overflow-x: hidden !important;
    font-size: 12px !important;
    font-family:  arial , helvetica !important;
    line-height: 1;
}

#toggleChatBot.launchChat {
    width: auto !important;
    z-index: 9 !important;
    display: none !important;
}



#dlChatbot .chatbotHeader label {
    font-weight: 700 !important;
    color: rgb(185, 185, 185);
    ;
    /*MIJ*/
}

#dlChatbot .chatbotHeader,
#dlChatbot .chatbotContainer {
    /* border-radius: 20px !important; */
    height: inherit;
    width: inherit;
}

#dlChatbot .ChatLog__message,
#dlChatbot .typing-indicator {
    border-radius: 6px !important;
}

#dlChatbot .chatbotHeader {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-size: 14px !important;
    line-height: 19px;
    border-bottom: 1px solid rgb(247, 247, 247);
    /*MIJ*/
}

#dlChatbot div#compose-message {
    border-radius: unset !important;
}

#dlChatbot #compose-message #btnToggle {
    margin: 0 8px !important;
    background-image: url(images/micro_phone.png);
    border: none;
    background-size: 100% 100%;
    padding: 15px;
    cursor: pointer;
    filter: grayscale(1);
}

#dlChatbot #new-input-message::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1;
}

#dlChatbot #new-input-message:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
    line-height: 1
}

#dlChatbot #new-input-message::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
    ;
}

#dlChatbot.maximizeActive .chatbotHeader {
    background-color: rgb(53, 99, 185) !important;
}

#dlChatbot.maximizeActive .chatbotHeader label {
    color: #fff !important;
}

#dlChatbot.maximizeActive .fa-question-circle:before {
    background: url("images/help.png") !important;
    background-size: cover !important;
}

#dlChatbot.maximizeActive .fa-refresh:before {
    background: url("images/Refresh_white.png") !important;
    background-size: cover !important;
}

#dlChatbot.maximizeActive .close:before {
    background: url("images/Close_white.png") !important;
    background-size: cover !important;
}

#dlChatbot.maximizeActive #minimizeableEl:before {
    background: url("images/Maximize_white.png") !important;
    background-size: cover !important;
}

#dlChatbot.maximizeActive #closeRestartIcon:before {
    background: url("images/Close_white.png") !important;
    background-size: cover !important;
}

#toggleChatBot {
    display: none;
}

#dlChatbot .number,
#dlChatbot .capital-alpha {
    color: rgb(53, 99, 185) !important;
    border-bottom: 3px solid rgb(53, 99, 185) !important;
}

#dlChatbot .input-container {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

#dlChatbot span#closeRestartIcon:before {
    height: 20px !important;
    max-width: 20px !important;
    margin-top: 4px;
}

#dlChatbot .chatbotHeader span.botHelpIcon {
    display: none !important;
}

#dlChatbot .chatbot {
    margin-bottom: 0px !important;
    position: inherit !important;
    width: 30%;
    right: 0px !important;
    /* right:-1rem !important; */
}

#dlChatbot .text-center {
    text-align: unset !important;
}

#dlChatbot button.btn.btn-primary.btn-sm.chatButton.normal-button.sendbtn {
    padding: 4px !important;
    width: 57px !important;
    text-align: center !important;
}

#dlChatbot .card {
    border: 1px solid rgb(97, 99, 101) !important;
}

#dlChatbot .card-header {
    background-color: rgb(97, 99, 101) !important;
}

#dlChatbot a.btn.btn-primary.btndrpdwn {
    margin-top: 10px !important;
}

.container-fluid.text-center {
    background-image: url(./images/chatbot-pattern.png);
}

.visualcls {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    text-align: center;
    word-break: break-word;
}

#dlChatbot div.chatbotHeader {
    display: none !important
}

#dlChatbot .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
    border: 0px !important;
}

#dlChatbot .chatbotContainer {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #e4e8dd !important;
}

#dlChatbot .btndrpdwn {
    margin-top: 10px;
    background-color: rgb(97, 99, 101) !important;
}

#dlChatbot .toggle_bot_message label {
    border-radius: 6px !important;
    margin-bottom: 8px !important;
    padding: 2px 10px !important;
}

#dlChatbot .btn.btn-primary.btn-sm.chatButton.selected_filter {
    background-color: #fec22a !important;
    border: 1px solid #fec22a !important;
}

#dlChatbot .btn.btn-primary.btn-sm.chatButton.selected_filter:hover {
    background-color: #fec22a !important;
}

button.btn.btn-primary.btn-sm.chatButton.full-width {
    width: 45% !important;
    text-align: center !important;
    height: 34px !important;
    background-color: rgb(0, 147, 207) !important;
    color: #fff !important;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .custom-bot-header {
        padding: 5px 10px !important;
    }
    #dlChatbot .btn.btn-primary.btn-sm.chatButton,
    #dlChatbot .btnSendInput {
        padding: 6px 12px !important;
    }
    button.btn.btn-primary.btn-sm.chatButton.full-width {
        width: 40% !important;
        }
    }
/*amit*/

#dlChatbot button.btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btn.btn-primary.btn-sm.chatButton,
#dlChatbot .btnSendInput {
    float: none !important;
    min-width: 20% !important;
    text-align: center !important;
}

#dlChatbot .ChatLog__entry.bot_msg {
    display: list-item !important;
}

#dlChatbot .ChatLog__entry.bot_msg>div {
    justify-content: flex-start;
}

#dlChatbot div#compose-message {
    background: none !important;
}
#dlChatbot button#sendbtnToggle {
    margin: 0 8px !important;
}

/* Viz Charts
.table-chart-container #table-chart {
     overflow-y: scroll;
} */
#dlChatbot .ChatLog__entry .ChatLog__message::before, #dlChatbot .typing-indicator::before {
	border-right-color: #000 !important;
}

#dlChatbot .form-control:focus {
    border-color: #000 !important;
}
