*,
*::before,
*::after {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:  arial , helvetica;
}

.main-div {
    height: 100%;
}

.main-div .app-container {
    width: 100%;
    overflow: auto;
}

.main-div .app-main {
    height: 100%;
}

.main-div .app-header {
    height: 54px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all .2s
}

.main-div .app-header {
    background: #000 !important;
}

.main-div .navbar-brand {
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 25px;
    line-height: inherit;
    white-space: nowrap;
    color: #fff !important;
    font-weight: 600 !important;
}

.main-div .app-header__logo {
    padding: 0 1.5rem;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    transition: width .2s;
    color: #fff;
}

.main-div .app-header__menu,
.main-div .app-header__mobile-menu {
    display: none;
    padding: 0 0.75rem 0 0.5rem;
    align-items: center;
    color: white;
}

.main-div .fixed-header .app-header {
    width: 100%;
}

.main-div .fixed-header .app-header .app-header__logo {
    visibility: visible
}


/*  hamburger Code Starts here */

.hamburger {
    padding: 0px 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    font-size: 25px;
}



.hamburger.is-active:hover {
    opacity: .7
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    /* background-color: #fff */
}

.hamburger-box {
    display: none;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    /* margin-top: -1px */
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    
    /* background-color: #fff; */
    /* border-radius: 10px; */
    position: block;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
}
.hamburger.hamburger--elastic.mobile-toggle-nav.is-active .chaticon {
     display: none;
}
.hamburger.hamburger--elastic.mobile-toggle-nav.is-active .charticon{
	display:block;
}
button.hamburger.hamburger--elastic.mobile-toggle-nav .charticon {
    display: none;
}
img.charticon  {
    margin: -8px 0px 0px -10px !important;
}
img.chaticon {
    margin: -4px 0px 0px -10px !important;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block
}

.hamburger-inner::before {
    /* top: -6px */
}

.hamburger-inner::after {
    /* bottom: -6px */
}

.hamburger--elastic .hamburger-inner {
    /* top: 1px; */
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.hamburger--elastic .hamburger-inner::before {
    /* top: 6px; */
    transition: opacity 0.125s 0.275s ease
}

.hamburger--elastic .hamburger-inner::after {
    /* top: 12px; */
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.hamburger--elastic.is-active .hamburger-inner {
    /* transform: translate3d(0, 6px, 0) rotate(135deg); */
    /* transition-delay: 0.075s */
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0
}

.hamburger--elastic.is-active .hamburger-inner::after {
    /* transform: translate3d(0, -12px, 0) rotate(-270deg); */
    /* transition-delay: 0.075s */
}


/* Main Body Code starts from here */

.app-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.app-main>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.app-main .show_visualization {
    /* background-image: url(./images/chatbot-pattern.png); */
    background-color: #fff;
    height: 100%;
}
.app-main.vis-active .show_visualization {
    background-image: none;
}
.app-main #show_maincontainer{
    padding:20px;
    height: 100%;
}
.app-main #show_vizcontainer{
    display: none;
	height: 100%;
    overflow: auto;
    padding: 10px;
}
.app-main.vis-active #show_maincontainer{
    display:none;
}
.app-main.vis-active #show_vizcontainer{
    display:block;
}

img.visualcls {
    width: 65%;
    height: 80%;
}

.app-sidebar {
    display: flex;
    display: -ms-flexbox;
    z-index: 11;
    overflow: hidden;
    min-width: 30%;
    position: relative;
    flex: 0 0 280px;
    transition: all .2s;
    height:inherit !important;
}

.app-sidebar .app-sidebar__inner {
    height: 100%;
}

.app-sidebar .scrollbar-sidebar {
    z-index: 15;
    width: 100%;
    background-color: gainsboro;
}

@media all and (min-width: 850px) {
    .app-sidebar {
        -webkit-box-flex: 2;
        -webkit-flex: 2 0px;
        -ms-flex: 2 0px;
        flex: 0 0px;
        /* -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; */
    }
    .app-visualization {
        -webkit-box-flex: 1;
        -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
        flex: 1 auto;
        max-width: 70%;
        /* -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; */
    }
	
}


/* Mobile and Tablet Css changes Starts here */

@media (max-width: 991.98px) {
    .app-main {
        display: block
    }
    .fixed-sidebar .app-main .app-visualization {
        position: absolute;
        width: 100% !important;
        height: 100%;
    }
    .app-sidebar {
        flex: 0 0 100% !important;
        width: 100% !important;
        transform: translateX(-100%);
        height: 100% !important;
    }
    .app-sidebar .app-header__logo {
        display: none
    }
    .sidebar-mobile-open .app-sidebar {
        transform: translateX(0)
    }
    .app-main .app-visualization {
        padding-left: 0 !important
    }
    .app-header {
        justify-content: space-between
    }
    .app-header .app-header__logo {
        /* display: none; */
        /* order: 2; */
        background: transparent !important;
        border: 0 !important;
        position: relative;
        /* left: -32%; */
            }
    .app-header .app-header__content {
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        position: absolute;
        left: 5%;
        width: 90%;
        top: 0;
        transition: all .2s;
        background: #fff;
        border-radius: 50px;
        padding: 0 10px;
        overflow: hidden
    }
    .app-header .app-header__mobile-menu {
        display: flex;
        /* order: 1 */
    }
    .app-header .app-header__menu {
        display: flex;
        /* order: 3 */
    }
    .hamburger-box {
        display: inline-block;
    }
    .fixed-header .app-main {
        padding-top: 0px !important;
        /* background-image: url(./images/chatbot-pattern.png); */
    }
}

@media (max-width: 767.98px) {
    .app-main .app-main__inner {
        padding: 32px 0px 0
    }
    .hamburger-box {
        display: inline-block;
    }
    .app-header .app-header__logo {
        /* display: none; */
        /* order: 2; */
        background: transparent !important;
        border: 0 !important;
        padding: 0px;
        font-size: 14px;
        position: relative;
        /* left: -4%; */
        /* width: -webkit-fill-available; */
        
    }
	.app-main #show_vizcontainer{
		height:100% !important;
	}
	.app-sidebar{
		height:100% !important;
	}
	#dlChatbot .form-control{
	 padding: .75rem .75rem !important;
	}
	#dlChatbot #compose-message #btnToggle {
		width:40px !important;
		height:40px !important;
	}
}
@media only screen and (min-device-width: 767.98px) and (max-device-width: 850px) {
	#dlChatbot .form-control{
	 padding: .75rem .75rem !important;
	}
	#dlChatbot #compose-message #btnToggle {
		width:40px !important;
		height:40px !important;
	}
}

#dlChatbot .chatbot {
    width: 100%;
}

#dlChatbot .chatbot.sticky {
    position: inherit !important;
}
/* loader css */
.vizloader { 
    border: 5px solid rgb(200, 240, 250); 
    border-radius: 50%; 
    border-top: 5px solid #fec22a; 
    border-right: 5px solid rgb(200, 240, 250); 
    border-bottom: 5px solid #fec22a; 
    width: 50px; 
    height: 50px; 
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite; 
  } 
  
  @-webkit-keyframes spin { 
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(360deg); } 
  } 
  
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  }
  